/* color palette
Dark kiwi               262C0A
Selva                   748038
Sin escorbuto           B4D562
Oxalico                 DBE479
Youre All That I See    F9F9B9
*/

@font-face {
    font-family: 'GeoSansLight';
    src: url('/fonts/GeosansLight.ttf');
}

@font-face {
    font-family: 'GeoSansLightOblique';
    src: url('/fonts/GeosansLight-Oblique.ttf');
}

* {
    font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
    font-size: 14px;
}

html, body, div, header, section, footer, nav {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #262C0A;
    box-shadow: 0px -3px 10px #748038 inset;
}

header h1 {
    font-family: 'GeoSansLightOblique';
    font-size: 15px;
    color: #F9F9B9;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 0px;
    padding-top: 20px;
}

footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer ul li {
    float: left;
}

footer ul li a {
    font-family: 'GeoSansLightOblique';
    font-size: 12px;
    float: left;
    padding: 3px;
    margin: 0px 5px;
    text-decoration: none;
    color: #262C0A;
}

footer ul li a:hover {}

#wrapper {
    width: 960px;
    margin: 0px auto;
    margin-top: 28px;
}

#options {
    float: left;
    width: 300px;
    background-color: #DBE479;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 3px 10px #748038;
    margin-bottom: 20px;
    margin-right: 10px;
}

#options ul {
    padding: 0px 0px 0px 10px;
    list-style: none;
}

#options>ul {
    padding: 0px 0px 10px 10px;
}

#options ul li {}

#options ul li span,
#options ul li a {
    font-family: "Franklin Gothic Medium","Arial Narrow Bold","Arial",sans-serif;
    font-size: 11px;
    cursor: pointer;
    padding: 0px 4px;
}

#options ul li a:hover {
    color: #DBE479;
    background-color: #748038;
}
.tools {
    right: -6em;
    top: 7.0em;
    position: fixed;
    transform: rotate(-90deg);
    float: left;
    padding: 0.5em 1.25em;
}

.tools.preview ul li{
    transform: translate(0,0.8em);
    transition: 1s ease-in-out 0.08s;
}

.tools.preview ul li:hover{
    transform: translate(0,-0.1em);
    transition: 0.5s ease-in-out 0s;
}

.tools ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tools ul li {
    display: inline-block;
    background-color: #262C0A;
    color: #F9F9B9;
    padding: 0.2em 0.5em;
    border-radius: 0.5em 0.5em 0em 0em;
    box-shadow: 0 -3px 10px #748038 inset;
}

.tools ul li a {
    font-family: 'GeoSansLightOblique';
    cursor: pointer;
    font-size: 0.95em;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

#schedule {
    /*float: left;*/
    width: 660px;
}

#schedule.preview {
    width: 100%;
}

#schedule table {
    margin-left: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#schedule table tr {}

#schedule table tr th,
#schedule table tr td {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 13px;
}

#schedule table tr th:nth-child(1),
#schedule table tr th:nth-child(2) {
    text-align: left;
}

#schedule table tr th {
    color: #262C0A;
}

#schedule table tr td {
    border: 1px solid #262C0A;
}

.period { width: 40px; }
.day { width: 100px;}

@media only screen and (max-width: 450px) {
    #header ul li {
        width: 100%;
    }
}

a.grupo.selected {
    font-weight: bold;
    text-decoration: underline;
}

.color1 { background-color: hsla(  0, 100%, 50%, 0.25); }
.color2 { background-color: hsla( 40, 100%, 50%, 0.25); }
.color3 { background-color: hsla( 80, 100%, 50%, 0.25); }
.color4 { background-color: hsla(120, 100%, 50%, 0.25); }
.color5 { background-color: hsla(160, 100%, 50%, 0.25); }
.color6 { background-color: hsla(200, 100%, 50%, 0.25); }
.color7 { background-color: hsla(240, 100%, 50%, 0.25); }
.color8 { background-color: hsla(280, 100%, 50%, 0.25); }
.color9 { background-color: hsla(320, 100%, 50%, 0.25); }

#schedule table tr td.collision {
    background-color: #ffffff;
    border: 2px solid #ff0000;;
}

