/* color palette
Dark kiwi               262C0A
Selva                   748038
Sin escorbuto           B4D562
Oxalico                 DBE479
Youre All That I See    F9F9B9
*/

@font-face {
    font-family: 'GeoSansLight';
    src: url('/fonts/GeosansLight.ttf');
}

@font-face {
    font-family: 'GeoSansLightOblique';
    src: url('/fonts/GeosansLight-Oblique.ttf');
}

* {
    font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}

html, body, div {
    margin: 0px;
    padding: 0px;
}

body {
    background: #F9F9B9 url('/media/1229641.png') repeat-x 60px -76px;
}

.clear {
    clear: both;
}

#header {
    background-color: #262C0A;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
}

#header ul li {
    float: left;
}

#header ul li a {
    font-family: 'GeoSansLightOblique';
    font-size: 15px;
    color: #F9F9B9;
    text-decoration: none;
    padding: 6px 10px;
    float: left;
}

#header ul li a:hover {
    text-decoration: underline;
}

#header ul li.active a {
    color: #B4D562;
    font-weight: bold;
    text-decoration: underline;
}

#footer {
    padding-top: 20px;
}

#footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#footer ul li {
    float: left;
}

#footer ul li a {
    font-family: 'GeoSansLightOblique';
    font-size: 13px;
    color: #748038;
    text-decoration: none;
    padding: 5px 10px;
    float: left;
}

#footer ul li a:hover {}

#wrapper {
    max-width: 960px;
    margin: 0px auto;
}

#content h1 {
    font-family: 'GeoSansLight';
    font-size: 33px;
    font-weight: normal;
    margin: 0px;
    padding: 23px 10px 10px 10px;
    color: #748038;
    text-shadow: 2px 2px 3px #B4D562;
    text-decoration: underline;
}

#content h2 {
    font-family: 'GeoSansLight';
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 10px 0px 15px;
    color: #B4D562;
    text-shadow: 2px 2px 4px #DBE479;
}

#content h3 {
    font-family: 'GeoSansLight';
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 10px 0px 20px;
    color: #748038;
    text-shadow: 2px 2px 4px #DBE479;
}

#content p {
    font-family: 'GeoSansLight';
    font-size: 12px;
    color: #262C0A;
    padding: 5px;
    line-height: 20px;
    text-align: justify;
}

#content .wizard {
    float: left;
    padding: 10px 0px;
}

#content .wizard .step {
    float: left;
    width: 180px;
    height: 125px;
    background-color: #DBE479;
    padding: 0px 7px 0px 13px;
    margin: 5px 30px 15px 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px #748038;
}

#content .wizard .step h2 {
    font-family: 'GeoSansLight';
    font-weight: normal;
    font-size: 16px;
    color: #262C0A;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

#content .wizard .step p {
    color: #748038;
    padding: 0px;
    margin: 5px 5px 0px 0px;
}

#content .start {
    padding: 20px;
    text-align: center;
}

#content .start ul {}
#content .start ul li {
    margin: 10px 0px;
}

#content .start ul li a,
#content .start ul li input[type="submit"] {
    font-family: 'GeoSansLight';
    font-size: 30px;
    background-color: #262C0A;
    color: #DBE479;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

#content ul {
    list-style: none;
}

#content table {
    width: 100%;
}

#content table tr th {
    background-color: #748038;
    color: #F9F9B9;
}

#content table tr td {
    background-color: #DBE479;
}

#content table tr th,
#content table tr td {
    font-family: "Copperplate Light", "Copperplate Gothic Light", serif;
    font-size: 14px;
    padding: 5px;
}

@media only screen and (max-width: 450px) {
    #header ul li {
        width: 100%;
    }
}
