
#wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    section#index {
        &>ul {
            list-style: none;
            &>li {
                float: left;

                figure {
                    text-align: center;
                    margin: 1.0rem 0;
                    padding: 1.0rem 0;
                    img {
                        width: 100px;
                        height: auto;
                    }
                    figcaption {
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.6rem;
                    }
                }

                &>ul {
                    margin-bottom: 2.0rem;
                    text-align: center;
                    list-style: square;

                    &>li {
                        padding: 0.25rem;
                        a {
                            text-decoration: none;
                            color: @color1;
                            font-weight: bold;
                            font-size: 1.45rem;
                        }
                    }
                }

                @media (min-width: 500px) {
                    width: 33vw;
                }
                @media (min-width: 300px) and (max-width: 499px) {
                    width: 50%;
                }
                @media (max-width: 299px) {
                    width: 100%;
                }
            }
        }
    }
}

section.schedule {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;

/*@media (min-width: 500px) {
@media (min-width: 300px) and (max-width: 499px) {
@media (max-width: 299px) {*/

    @media (min-width: 1080px) {
        max-width: none;
    }
    @media (min-width: 960px) {
        order: 0;
        flex: 1 1 auto;
    }

    @media (min-height: 508px) {
        height: 460px;
    }

    @media (max-height: 508px) {
        position: fixed;
        top: 0;
        bottom: 2.0rem;
        left: 0;
        right: 0;
    }
}

@import 'mode.a.less';
@import 'list.less';

