
body, div, ul, ol, li, p, a {
    padding: 0;
    margin: 0;
}

a {
    font-size: 0.72em;
    text-decoration: none;
    color: #000000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menu {
    background-color: #CC3300;
}

.carrera {
    background-color: #462C1F;
}

.materia {
    background-color: #B0A69D;
}

.grupo {
    background-color: #5F8FB4;
}

#wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header {
    position: absolute;
    top:0px;
    left: 0.0em;
    right: 0.5em;
}

header nav {
    float: left;
    margin-top: 0px;
    margin-left: 1px;
    display: block;
    padding-left: 10px;
}

header nav ul {
    float: left;
    box-shadow: 0px -2px 4px #000000;
    border-radius: 0.0em 0.0em 0.4em 0.4em;
}

header nav ul li {
    list-style: none;
    float: left;
}

header nav ul li a {
    float: left;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

header nav ul.left { margin-left: 0.5em; }

@media only screen and (max-width: 280px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

footer ul {
    float: left;
}

footer ul li {
    list-style: none;
    float: left;
    margin-left: 7px;
}

footer nav ul li a {
    float: left;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

footer ul li a:hover {}

footer ul.right { margin-right: 0.5em; }

#schedule {
    margin-top: 40px;
    margin-left: 5px;
}
