<div id="background"></div>

<div id="wrapper">
    <section>
        {{outlet}}
    </section>
    <footer>
        <ul class="responsive">
            <li>
                <a href="#">MENU</a>
            </li>
        </ul>
        <ul class="ritual">
            <li>
                <a href="http://www.scesi.org">SCESI</a>
            </li>
            <li>
                <a href="http://www.memi.umss.edu.bo">MEMI</a>
            </li>
            <li>
                <a href="https://github.com/ccaballero/cappuccino.git">Código fuente</a>
            </li>
        </ul>
    </footer>
</div>

