<div id="background"></div>

<div id="wrapper">
    {{outlet}}
</div>

<footer>
    <div>
        <div>
            <ul class="left">
            {{#if context}}
                <li>
                    <a href="#">&#9776; {{context}}</a>
                </li>
            {{/if}}
                <li>
                    <a href="#">&#9733; Menu</a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a href="http://www.scesi.org">SCESI</a>
                </li>
                <li>
                    <a href="http://www.memi.umss.edu.bo">MEMI</a>
                </li>
                <li>
                    <a href="https://github.com/ccaballero/cappuccino.git"
                       target="_BLANK">Código Fuente</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</footer>

