<ul>
    <li>
        <figure>
            <img src="images/fcyt.svg" />
            <figcaption>FCyT</figcaption>
        </figure>
        <ul>
            <li>{{#link-to "aview"}}Gesti贸n 2014-02{{/link-to}}</li>
            <li><a href="">Gesti贸n 2014-01</a></li>
            <li><a href="">Gesti贸n 2013-02</a></li>
            <li><a href="">Gesti贸n 2013-01</a></li>
        </ul>
    </li>
    <li>
        <figure>
            <img src="images/fce.svg" />
            <figcaption>FCE</figcaption>
        </figure>
    </li>
</ul>
<div class="clear"></div>

