<div id="wrapper">
    <div class="title">
        <img src="images/cappuccino.svg" />
        <h1>SCESI Cappuccino</h1>
    </div>
    <section>
        <ul>
            <li>
                <figure>
                    <a href="">
                        <img src="images/fcyt.svg" />
                    </a>
                    <figcaption>FCyT</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <a href="">
                        <img src="images/fce.svg" />
                    </a>
                    <figcaption>FCE</figcaption>
                </figure>
            </li>
        </ul>
    </section>
</div>

