<div id="background"></div>

<div id="wrapper">
    <section>
        <ul>
            <li>
                <figure>
                    <img src="images/fcyt.svg" />
                    <figcaption>FCyT</figcaption>
                </figure>
                <ul>
                    <li><a href="">Gestión 2014-02</a></li>
                    <li><a href="">Gestión 2014-01</a></li>
                    <li><a href="">Gestión 2013-02</a></li>
                    <li><a href="">Gestión 2013-01</a></li>
                </ul>
            </li>
            <li>
                <figure>
                    <img src="images/fce.svg" />
                    <figcaption>FCE</figcaption>
                </figure>
            </li>
        </ul>
        <div class="clear"></div>
    </section>
    <footer>
        <ul>
            <li>
                <a href="http://www.scesi.org">SCESI</a>
            </li>
            <li>
                <a href="http://www.memi.umss.edu.bo">MEMI</a>
            </li>
            <li>
                <a href="https://github.com/ccaballero/cappuccino.git">Código fuente</a>
            </li>
        </ul>
    </footer>
</div>

