<section class="list">
    <ul>
    {{#each career in model}}
        <li>
            <a {{action "pick1" career}}>
                {{#if career.loaded}}&#8862;{{/if}}
                {{render_career career}}
            </a>
            {{#if career.levels}}
                <ul>
                {{#each level in career.levels}}
                    <li>
                        <a>
                            {{render_level level}}
                        </a>
                    </li>
                {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
    </ul>
</section>

