<section class="list">
    <ul>
    {{#each career in model}}
        <li>
        {{#view "pick1" tagName="span" fuck=true}}
            {{render_career career}}
        {{/view}}
        </li>
    {{/each}}
    </ul>
</section>

