<section class="schedule">
    <div class="a">
        <div class="s">
            <div class="h"></div>
            <div class="h">06:45</div>
            <div class="h">07:30</div>
            <div class="h">08:15</div>
            <div class="h">09:00</div>
            <div class="h">09:45</div>
            <div class="h">10:30</div>
            <div class="h">11:15</div>
            <div class="h">12:00</div>
            <div class="h">12:45</div>
            <div class="h">13:30</div>
            <div class="h">14:15</div>
            <div class="h">15:00</div>
            <div class="h">15:45</div>
            <div class="h">16:30</div>
            <div class="h">17:15</div>
            <div class="h">18:00</div>
            <div class="h">18:45</div>
            <div class="h">19:30</div>
            <div class="h">20:15</div>
            <div class="h">21:00</div>
        </div>
        <div class="s">
            <div class="h">&nbsp;</div>
            <div class="h">07:30</div>
            <div class="h">08:15</div>
            <div class="h">09:00</div>
            <div class="h">09:45</div>
            <div class="h">10:30</div>
            <div class="h">11:15</div>
            <div class="h">12:00</div>
            <div class="h">12:45</div>
            <div class="h">13:30</div>
            <div class="h">14:15</div>
            <div class="h">15:00</div>
            <div class="h">15:45</div>
            <div class="h">16:30</div>
            <div class="h">17:15</div>
            <div class="h">18:00</div>
            <div class="h">18:45</div>
            <div class="h">19:30</div>
            <div class="h">20:15</div>
            <div class="h">21:00</div>
            <div class="h">21:45</div>
        </div>
        <div class="c">
            <div class="h">Lunes</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
        <div class="c">
            <div class="h">Martes</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
        <div class="c">
            <div class="h">Miercoles</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
        <div class="c">
            <div class="h">Jueves</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
        <div class="c">
            <div class="h">Viernes</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
        <div class="c">
            <div class="h">Sabado</div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
        </div>
    </div>
</section>
{{partial "list" }}

